.courseOutline {
    padding: 40px 20px;
    background-color: #ffffff; /* White background */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .modules {
    margin-top: 20px;
  }
  
  .module {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .moduleHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #f1f1f1; /* Light gray background */
    cursor: pointer;
  }
  
  .moduleContent {
    padding: 15px;
  }
  
  .arrow {
    font-size: 20px;
  }